@if (tarif() !== null){
  <div class="w-11/12 m-auto pt-8 pb-8 grid gap-10">
    <div class="bg-white shadow-2xl w-max p-6 rounded grid items-center justify-center">
      <div  class="flex justify-center">
        <img [ngSrc]="tarif()!.provider.logoImg!" priority width="80" height="80"  [alt]="tarif()!.provider.legalName!">
      </div>
      <div class="grid gap-1 mt-5">
        <h2 class="text-center text-bs-primary text-2xl">{{tarif()!.provider.legalName}}</h2>
        <p
          class="font-medium">
          {{tarif()!.provider.city}} |
          {{tarif()!.provider.street}} str {{tarif()!.provider?.houseNumber}}, {{tarif()!.provider.postalCode}}</p>
        <p class="text-center font-bold">{{tarif()!.provider.telephone}}</p>
      </div>
    </div>
    <div class="flex justify-around flex-wrap gap-6">
      <div class="grid gap-3">
        <p class="bg-bs-primary shadow-2xl p-2 pr-20 pl-20 text-center text-white rounded">Tarif name</p>
        <p class="text-center">{{tarif()!.productShortName}}</p>
      </div>
      <div class="grid gap-3">
        <p class="bg-bs-primary shadow-2xl p-2 pr-20 pl-20 text-center text-white rounded">Download</p>
        <p class="text-center">{{tarif()!.internetSpeed?.download}} <span>{{tarif()!.internetSpeed.downloadSpeedUnit}}</span></p>
      </div>
      <div class="grid gap-3">
        <p class="bg-bs-primary shadow-2xl p-2 pr-20 pl-20 text-center text-white rounded">Uploads</p>
        <p class="text-center">{{tarif()!.internetSpeed.upload}} <span>{{tarif()!.internetSpeed.downloadSpeedUnit}}</span></p>
      </div>
      <div class="grid gap-3">
        <p class="bg-bs-primary shadow-2xl p-2 pr-20 pl-20 text-center text-white rounded">Tarif monthly</p>
        <p class="text-center">{{tarif()!.prices.monthly}} <span class="text-green-500">{{tarif()!.prices.savingsPercent}} %</span></p>
      </div>
    </div>
    <div class="grid gap-3">
      <h2 class="pr-20 pl-20 bg-white shadow-2xl w-max text-bs-primary p-2 text-2xl">Benefits</h2>
      <ul class="flex flex-col">
        @for(remark of tarif()!.remarks; track remark.header.length){
          <li class="relative pl-4">
            <img
              width="12"
              height="12"
              class="absolute top-2 left-0"
              ngSrc="https://js.vxcdn.com/products/broadband/resultlist/98564cff/assets/images/tariff/icons/check-icon.svg"
              alt="image-1">
            <span>{{remark.header}}</span>
          </li>
        }
      </ul>
    </div>
  </div>
} @else {
  <div class="flex justify-center items-center w-full h-screen">
    <app-spinner></app-spinner>
  </div>
}
